doctype html
html(ng-app="player")
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    != js('application')
    != css('application')
  body
    .container-fluid
      nav(role="navigation").navbar.navbar-default.navbar-fixed-top
        .container(ng-controller="PlayerController")
          a(href='#/').navbar-brand rPi Shoutcast
          p(ng-show="nowPlaying.station").navbar-text.pull-right Now playing:
            b &nbsp;{{ nowPlaying.station.CurrentTrack | limitTo: 55 }}.
            i &nbsp;({{ nowPlaying.station.Name | limitTo: 30 }}, {{ nowPlaying.station.Genre }})
          form.navbar-form.navbar-left
            button(type="submit", ng-click="pause()", ng-hide="nowPlaying.isPlaying").btn.btn-default
              span.glyphicon.glyphicon-play
            button(type="submit", , ng-click="pause()", ng-show="nowPlaying.isPlaying").btn.btn-default
              span.glyphicon.glyphicon-pause

      block content