doctype html
html(ng-app="player")
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    != js('application')
    != css('application')
  body
    .container-fluid
      nav(role="navigation").navbar.navbar-default.navbar-fixed-top
        .container(ng-controller="PlayerController")
          a(href='#/').navbar-brand rPi Shoutcast
          p(ng-show="nowPlaying").navbar-text.pull-right Now playing:
            b &nbsp;{{ nowPlaying.CurrentTrack | limitTo: 55 }}.
            i &nbsp;({{ nowPlaying.Name | limitTo: 30 }}, {{ nowPlaying.Genre }})
          form.navbar-form.navbar-left
            form-group
              button(type="submit", ng-click="pause()").btn.btn-default Play
                span.glyphicon.glyphicon-play
            form-group
              button(type="submit", , ng-click="pause()").btn.btn-default Pause
                span.glyphicon.glyphicon-pause

      block content